body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

th, td {
  font-family: sans-serif;
  font-size: 9px;
}

select, option {
    font-size: 80%;
}

.row {
    padding-top: 10px;
}
